{% load static %}

<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="{% static 'img/fav/fav.ico' %}" type="image" />
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'img/fav/apple-touch-icon.png' %}" />
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'img/fav/favicon-32x32.png' %}" />
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'img/fav/favicon-16x16.png' %}" />
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" />
    <link rel="stylesheet" href="{% static 'css/item.css' %}" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.0/font/bootstrap-icons.css">
    <title>
      {% block title %}
      {% endblock %}
    </title>
  </head>
  <body>
    {% include 'includes/header.html' %}
    <div class="banner">
      {% if leader.reputation_points > 4 %}
        <p>Сегодня лидер по репутации - {{ leader.user.username }}. У {{ leader.user.username }} целых {{ leader.reputation_points }} баллов!</p>
      {% elif leader.reputation_points < 4 and leader.reputation_points > 1 %}
        <p>Сегодня лидер по репутации - {{ leader.user.username }}. У {{ leader.user.username }} целых {{ leader.reputation_points }} балла!</p>
      {% else %}
        <p>Сегодня лидер по репутации - {{ leader.user.username }}. У {{ leader.user.username }} целый {{ leader.reputation_points }} балл!</p>
      {% endif %}
    </div>
    <div class="container mt-4" style="min-height: calc(100vh - 200px)">
      {% block content %}
      {% endblock %}
    </div>

    {% include 'includes/footer.html' %}
    <script src="{% static 'js/bootstrap/bootstrap.bundle.min.js' %}"></script>
    <script src="https://unpkg.com/htmx.org@1.9.6"></script>
    <script>
        document.body.addEventListener('htmx:configRequest', (event) => {
            event.detail.headers['X-CSRFToken'] = '{{ csrf_token }}';
        });
    </script>
  </body>
</html>
