{% extends 'base.html' %}
{% load static %}
{% block title %}
  Главная
{% endblock %}

{% block content %}
<div class="row">
    <h1 class="text-center mb-4">Главная</h1>
    <div class="col d-flex justify-content-center">
      <div class="row g-0">
        {% if user.is_authenticated %}
          <div class="card shadow border">
            <div class="card-body">
              <div class="card-header">
                <ul>
                  <h5 class="card-header" style="text-align: center;">Моя статистика: {{ user.username }}</h5>
                  <p class="card-text" style="text-align: center;">Репутация: {{ user.profile.reputation_points }}</p>
                  <p class="card-text" style="text-align: center;">Мои топики: {{ my_topics }}</p>
                </ul>
              </div>
            </div>
          </div>
        {% else %}
          <div class="card shadow border">
            <div class="card-body">
              <div class="card-header">
                <ul>
                  <h5 class="card-header" style="text-align: center;">Моя статистика:</h5>
                  <p class="card-text" style="text-align: center;">Репутация: -</p>
                  <p class="card-text" style="text-align: center;">Мои топики: -</p>
                  <p class="card-text" style="text-align: center;"><a href={% url "users:login" %}>Войди</a> или <a href={% url "users:signup" %}>зарегистрируйся</a>, чтобы узнать свою статистику!</p>
                </ul>
              </div>
            </div>
          </div>
        {% endif %}
        <h1 class="text-center mb-4">Новые топики</h1>
        <div>
          <div class="card-list">
              {% for topic in main_topics %}
                <div class="card">
                  <a href={% url "forum:topic-detail" topic.id %} style="text-decoration: none;">
                      <div class="card-header">
                          <h5>{{ topic.title|truncatechars:50 }}</h5>
                      </div>
                  </a>
                  <div class="card-body">
                    <div class="card-header">
                      <p>{{ topic.text|truncatechars:325 }}</p>
                    </div>
                  <div>
                      <div class="d-flex fw-wrap mb12">
                          <div class="flex-grow-1">
                              <p>
                                {% if topic.user.profile.avatar %}
                                  <img src="{{ topic.user.profile.avatar.url }}" width="40" height="40" class="rounded-circle border object-fit-cover">
                                {% endif %}
                                <a href={% url "users:profile" topic.user.username %}>{{ topic.user.username }}</a> задал(а) вопрос в {{ topic.created }}
                              </p>
                          </div>
                          <div class="aside-cta mb12 print:d-none">
                            <p>Просмотры: {{ topic.topic_view_count }}</p>
                          </div>      
                      </div>
                    </div>
                  </div>
                </div>
              {% endfor %}
          </div>
      </div>
      </div>
    </div>
</div>
{% endblock %}
