{% extends 'base.html' %}

{% block title %}Удалить отзыв{% endblock %}

{% block content %}
<div class="container mt-4">
    <div class="row">
        <div class="col-md-6 mx-auto">
            <div class="card">
                <div class="card-header bg-danger text-white">
                    <h5>Удалить отзыв</h5>
                </div>
                <div class="card-body">
                    <p>Вы уверены, что хотите удалить свой отзыв?</p>
                    <form method="post">
                        {% csrf_token %}
                        <div class="mt-3">
                            <button type="submit" class="btn btn-danger">Подтвердить удаление</button>
                            <a href="{% url 'reviews:reviews' %}" class="btn btn-secondary">Отменить</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
