{% load static %}

<form id="review-form"
      hx-post="{% if review %}{% url 'reviews:update' review.pk %}{% else %}{% url 'reviews:create' %}{% endif %}"
      hx-target="{% if review %}#review-{{ review.id }}{% else %}#reviews-list{% endif %}"
      hx-swap="{% if review %}outerHTML{% else %}beforeend{% endif %}">
    {% csrf_token %}

    <div class="mb-3">
        <label class="form-label">Оценка</label>
        <div class="star-rating">
            {% for i in "54321" %}
                <input type="radio" id="star{{ i }}" name="rating" value="{{ i }}"
                       {% if form.rating.value|slugify == i %}checked{% endif %}>
                <label for="star{{ i }}" title="{{ i }} star">
                    <i class="bi bi-star-fill"></i>
                </label>
            {% endfor %}
        </div>
        <div class="rating-error text-danger mt-2 d-none">Пожалуйста, укажите оценку</div>
    </div>

    <div class="mb-3">
        <label for="content-input" class="form-label">Отзыв</label>
            <textarea class="form-control" id="content-input" name="content" rows="4" oninput="clearContentError()" required>{% spaceless %}
                {{ form.content.value|default:'' }}
            {% endspaceless %}</textarea>
        <div class="content-error text-danger mt-2 d-none">Пожалуйста, напишите содержание вашего обзора</div>
    </div>

    <div class="d-flex justify-content-end gap-2">
        <button type="button" class="btn btn-secondary"
                onclick="resetForm(); {% if not review %}document.querySelector('#write-review-btn').style.display = 'block';{% endif %}">
            Отменить
        </button>
        <button type="button"
                class="btn btn-primary"
                onclick="submitReviewForm()">
            {% if review %}Сохранить{% else %}Опубликовать{% endif %} отзыв
        </button>
    </div>
</form>

<script src="{% static 'js/reviews/partials/review_form.js' %}"></script>