{% extends 'base.html' %}
{% block content %}
    <div class="row">
    <h2 align="center" class="col"> {{ object.name }} </h2>
    <a href={{ url_to_tg }} class="btn btn-primary col-2">Стикерпак в тг</a>
    </div>
    <div class="row">
        {% for sticker in stickers %}
            <div class="col">
                <img src="{{ sticker.image.url }}" class="img-fluid rounded" style="width: 200px; height: 200px; object-fit: contain;" alt="Стикер">
                <div class="row">
                    <a class="btn btn-danger" href={% url "stickers:deletesticker" stickerpack_id=object.pk pk=sticker.pk%} style="width:40px; margin-left:10px;"><i class="bi bi-trash"></i></a>
                    <button class="btn btn-primary" 
                            hx-post="{% url 'stickers:like' pk=sticker.pk %}"
                            hx-swap="outerHTML"
                            hx-target="this"
                            hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'
                            title="{% if sticker in request.user.featured_stickers %}Убрать из избранного{% else %}Добавить в избранное{% endif %}"
                            style="width:40px; margin-right:10px; margin-left:auto">
                        {% if sticker in user.profile.featured_stickers.all %}
                            <i class="bi bi-heart-fill"></i>
                        {% else %}
                            <i class="bi bi-heart"></i>
                        {% endif %}
                    </button>
                </div>
            </div>
        {% empty %}
            <h2> В этом стикерпаке пока что нет стикеров </h2>
        {% endfor %}
    </div>
    <a class="btn btn-primary" href={% url 'stickers:addsticker' stickerpack_id=object.pk %} style="margin-top: 10px"> Добавить стикер </a>
{% endblock %}
