<style>
    .image-container {
        position: relative;
        display: inline-block;
    }
    
    .image-container img {
        display: block;
        width: 100%;
        height: auto;
        transition: filter 0.3s ease; /* Добавляем фильтр для затемнения картинки */
    }
    
    .hover-text {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(190, 95, 95, 0.7);
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        opacity: 0; /* Изначально скрыт */
        transition: opacity 0.3s ease;
    }
    
    .image-container:hover .hover-text {
        opacity: 1;
    }
    
    .image-container:hover img {
        filter: brightness(70%);
    }
</style>
<script src="https://unpkg.com/htmx.org@2.0.4"></script>
<p>Название стикерпака {{ object.name }}</p>
{{ object.slug }}
<p>
<a href={{ url_to_tg }} >ссылка на стикерпак</a>
</p>
<div>
    <p> Стикеры: </p>
        {% for sticker in stickers %}
            <div class="image-container">
                <img src="{{ sticker.image.url }}" alt="Стикер">
                <div class="hover-text">
                    <button style="background-color:rgba(0,0,0,0); border: 0; width:100%; height:100%"
                            hx-post="{% url ""%}">
                        <h1 style="color:white">Удалить стикер</h1>
                    </button>
                </div>
            </div>
        {% endfor %}
</div>
<a href="{% url 'stickers:addsticker' stickerpack_id=object.pk %}"> создать стикер </a>
