{% extends "base.html" %}

{% block title %}Последние вопросы{% endblock %}

{% block content %}
<div class="d-flex fw-wrap mb12">
    <div class="flex-grow-1">
      <h1 class="fs-headline1 mb12">Последние вопросы</h1>
    </div>
    <div class="aside-cta mb12 print:d-none">
        <a class="btn" href={% url "forum:topic-post" %} role="button" style="color: white; background-image: linear-gradient(to right, rgb(245, 87, 126), rgb(187, 85, 207)); border-color:rgb(255, 255, 255)">Задать Вопрос</a>
    </div>      
</div>
<div>
    <div class="card-list">
        {% for topic in page %}
          <div class="card">
            <a href={% url "forum:topic-detail" topic.id %} style="text-decoration: none;">
                <div class="card-header">
                    <h5>{{ topic.title|truncatechars:50 }}</h5>
                </div>
            </a>
            <div class="card-body">
              <div class="card-header">
                <p>{{ topic.text|truncatechars:325 }}</p>
              </div>
            <div>
                <div class="d-flex fw-wrap mb12">
                    <div class="flex-grow-1">
                        <p>
                          {% if topic.user.profile.avatar %}
                            <img src="{{ topic.user.profile.avatar.url }}" width="40" height="40" class="rounded-circle border object-fit-cover">
                          {% endif %}
                          <a href={% url "users:profile" topic.user.username %}>{{ topic.user.username }}</a> задал(а) вопрос в {{ topic.created }}
                        </p>
                    </div>
                    <div class="aside-cta mb12 print:d-none">
                      <p>Просмотры: {{ topic.topic_view_count }}</p>
                    </div>      
                </div>
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
</div>

<nav>
  <ul class="pagination pagination-lg">
    {% if page.has_previous %}
    <li class="page-item">
      <a class="page-link" href="?page={{ page.previous_page_number }}" aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
      </a>
    </li>
    {% else %}
    <li class="page-item disabled">
      <a class="page-link" href="?page={{ page.page_number }}" aria-label="Previous" aria-disabled="true">
        <span aria-hidden="true">&laquo;</span>
      </a>
    </li>
    {% endif %}
    {% if page.has_next %}
    <li class="page-item">
      <a class="page-link" href="?page={{ page.next_page_number }}" aria-label="Next">
        <span aria-hidden="true">&raquo;</span>
      </a>
    </li>
    {% else %}
    <li class="page-item disabled">
      <a class="page-link" href="?page={{ page.page_number }}" aria-label="Next" aria-disabled="true">
        <span aria-hidden="true">&raquo;</span>
      </a>
    </li>
    {% endif %}
  </ul>
</nav>
{% endblock content %}